<!DOCTYPE html>
<html>
    <head>
      <title>Super Bowling</title>
      <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
      <div class="maincontainer">
        <h1>welcome to the super bowl!</h1>
        <h2>please click a number for each of your rolls</h2>
        <br />
        <% if @scoreboard != [] %>
          <table id="scorecard" class="scorecard">
            <thead>
              <tr style="height: 25px; width: 30px">
                <% @scoreboard_array.each_with_index do |frame, index| %>
                  <th scope="col" colspan="2">Frame <%=index + 1%></th>
                <% end %>
                <th scope="col" colspan="2">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr style="height: 30px; width: 30px">
                <% @scoreboard_array.each do |frame| %>
                  <td scope="row" class="rolls"><%=frame.accessFrame[0]%></td>
                  <td scope="row" class="rolls"><%=frame.accessFrame[1]%></td>
                <% end %>
                <td rowspan="2" colspan="2" id="total-score"><%=@scoreboard.total%></td>
              </tr>
              <tr style="height: 40px; width: 20px">
                <% @scoreboard_array.each do |frame| %>
                  <td scope="row" colspan="2" class="frames"><%=frame.frameTotal%></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>
        <br /><br /><br />
          <div id="buttons" class='button_group'>
          <% if @roll_count == 0 %>
            <%roll = 1%>
          <% elsif @frame.accessFrame.length == 0 %>
            <%roll = 1%>
          <%else%>
            <%roll = 2%>
          <%end%>
          <% (0..10).each do |int| %>
            <form method="post" action="/roll<%=roll%>" class="roll_button">
              <input type="hidden" name="roll" value=<%=int%>>
              <input class='btn' type='submit' value=<%=int%>>
            </form>
          <%end%>
            <form method="post" action="/reset" class="roll_button">
              <input class='btn' type='submit' value='Reset'>
            </form>
          </div>
        </form>
      </div>
    </body>
</html>
